/*
=========================================
; Title: global.css
; Author: Andrew Britt
; Date: 28 Mar 2022
; Description: Global CSS for WEB-231
=========================================    
*/

header {
    font-weight: bolder;
}

.return-home {
    color: #4F3674;
    text-decoration: none;
}

.return-home:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.return-home:visited {
    color: #3C275A;
}

#btnMyCourse {
    background-color: antiquewhite;
    border: solid black 1px;
    border-radius: 2px;
}

#btnMyCourse:hover {
    background-color: #dad878;
}

#bodyBox {
    border: solid 1px darkslategray;
    width: fit-content;
    padding: 15px;
    margin-left: 40%;
    margin-top: 10%;
    box-shadow: 13px 13px 16px 2px darkslategray;
}

.drop-down-menu {
    
}