/*
==========================================
; Title: Britt-alphabet-game.css
; Author: Andrew Britt
; Date: 05 May 2022
; Description: Styles for Alphabet Game
==========================================    
*/
body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
 
}

#card-title {
    box-shadow: -1px 5px 10px -2px grey;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    font-size: 20px;
    
}

#test {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    grid-gap: 10px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: -1px 5px 10px -2px grey;

}

.player-card-container {
    box-shadow: -1px 5px 10px -2px grey;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    grid-gap: 10px;
}

.player-card {
    text-align: center;
}

#form-title {
    text-align: center;
    color: #4F3674;
    font-size: 28px;
}

.app-header {
    text-align: center;
}

#btnDealCards {
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 2%;
    width: 96%;
    height: 50px;
    background-color: #4F3674;
    color: rgb(197, 196, 196);
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border: solid black 1px;
    border-radius: 2%;
}

#return {
    margin-left: 20%;
    text-decoration: none;
    color: #4F3674;
}

#results {
    box-shadow: -1px 5px 10px -2px rgb(0, 0, 0);
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 28px;
    color: #4F3674;
}

