/*
==========================================
; Title: Britt-sequence-game.css
; Author: Andrew Britt
; Date: 21 Apr 2022
; Description: Styles for in-n-out-books 
==========================================    
*/
body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

#card-title {
    box-shadow: -1px 5px 10px -2px grey;
    margin-left: 20%;
    margin-right: 20%;
}

#resultsDiv {
    margin-top: 5%;
    text-align: center;
    color: #4F3674;
    font-size: 28px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: -1px 5px 10px -2px grey;
    padding: 0%;
    height: 200px;
}

#results {
    padding: .1%;
    margin-top: -3%;
    
}

#form-field {
    margin-left: 5%;
}

#form-title {
    text-align: center;
    color: #4F3674;
    font-size: 28px;
}

.app-header {
    text-align: center;
}

#btnDisplayListing {
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 2%;
    background-color: #4F3674;
    color: whitesmoke;
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border: solid black 1px;
    border-radius: 2%;
}

#return {
    margin-left: 20%;
    text-decoration: none;
}

